node_modules/
.env
.env.local
/.idea
/.vscode
/.DS_Store
/.playwright
coverage/
test-results/
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
